<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3">WELCOME</h1>
    <p class="lead">Please choose one of the roles to login</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/adminlogin" role="button">Admin Login</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">User Login</a>

  </div>
</div>

<%- include('partials/footer') %>
